footer {
  background: black;
  padding: 2rem;
  color: rgba(255, 255, 255, 0.6);
  grid-column: 1 / 4;
  grid-row: 3 / 4;
  width: 100%;
  align-self: center;
  justify-self: center;
  display: grid;
  grid-template-columns: inherit;
}

footer * {
    grid-column: 2 / 3;
}

footer a, footer p {
  color: white;
}

footer > nav {
  display: flex;
  flex-direction: column;
  position: relative;
}

footer > svg {
  fill: white;
}

footer > h4 {
  margin: 1rem 0 0;
}

footer > nav > ul {
  display: flex;
  list-style: none;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: 1rem 0;
  padding: 0;
}

footer > nav > ul > li {
  margin-right: 0.5rem;
}

/* Mobile */
@media all and (max-width: 35rem) {
  footer {
    padding: 1rem;
  }

  footer > nav > ul {
    display: flex;
  }

  footer > nav > ul > li {
    margin: .5rem;
  }

  footer > nav > ul > li > a {
    text-decoration: underline;
  }
}
