body > nav {
  position: fixed;
  width: 100%;
  padding: 1.1667rem 2rem;
  height: 5.5rem;
  background: rgba(255, 255, 255, 0.95);
}
nav > ul {
  display: grid;
  grid-template-columns: 35px 10rem;
  justify-content: space-between;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav a {
  width: 35px;
  height: 35px;
}

nav li {
}
