/* Generic styling */
* {
  box-sizing: border-box;
}
html {
  font: 12px "Helvetica";
}
body {
  font-size: 1.25em;
  grid-template-rows: 4.125rem auto 25rem;
  grid-template-columns: 2rem auto 2rem;
  grid-row-gap: 1rem;
  display: grid;
  margin: 0;
}
/* /Generic styling */

/* Mobile */
@media all and (max-width: 35rem) {
  body {
    font-size: 1.25em;
    grid-template-rows: 4.125rem auto auto;
    grid-template-columns: 1rem auto 1rem;
    display: grid;
    margin: 0;
  }
}
